

body{
    background-color: #f9f9f9;
    font-size: 16px;
    color:#444;
    font-family: Arial, Helvetica, sans-serif;
}
/*header*/
header{
	background-color: white;
	padding: 5px 5px;
	border-radius: 5px;
	border: 1px solid #f0f0f0;
	margin-bottom: 10px;
}
.content{
	width: auto;
	margin: 10px auto;
}

/*menu navigasi*/
.navigasi{
	background-color: rgb(168, 141, 116);
	border: 1px solid black;
	border-radius: 10px;
	margin-top:5px;
	margin-bottom:5px;
}
 
.navigasi ul {
	width:auto;
	list-style:none;
	overflow: hidden;
	display: flex;
	justify-content: flex-start;
}
 
.navigasi ul li {
	float:left;		
	text-transform:uppercase;
}
 
.navigasi ul li a {
	display:block;	
	padding:0 20px;
	text-decoration:none;
	color:#2c2c2c;
	font-family: sans-serif;
	font-size:13px;
	font-weight:400;
	transition:all 0.3s ease-in-out;
}
 
.navigasi ul li a:hover,
.navigasi ul li a.hoverover {	
	cursor: pointer;	
	color:#fff;
}
 

@media screen and (max-width: 600px){
	
}


 /* bagian badan  */

h1{
	text-align:center;
	
}

.badan{
	background-color: rgb(204, 218, 201);
	border-radius: 5px;
	border: 1px solid #ecd1d1;
	margin-bottom: 10px;
	min-height: 100vh;
}


 /* bagian home */
.menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: none;
    border: 1px solid;
}

.card span {
    display: block;
    font-weight: bold;
    margin: 10px 0;
}

button {
    background: #cab89d;
    border: none;
    padding: 8px 15px;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background: #e68900;
	 opacity: 0.8;
}

/* bagian login */
h2{
  text-align:center;

}


input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.loginbtn {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: auto;
}

.loginbtn:hover {
  background-color: #7dfc4a;
  opacity: 0.8;
}

.cancelbtn {
  display:inline-block;
  padding:8px 16px;
  background-color:#db6363;
  color:#000;
  text-decoration: none;
  border-radius: 4px;   
}
.cancelbtn:hover {
  background-color: #a06d60;
  opacity: 0.8;
}

.imgcontainer {
  text-align: center;
  margin: 20px 0 10px 0;
}

img.avatar {
  width: 10%;
  border-radius: 20%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
